<div class='main_wrapper'>
  <div class="recipe-main"> 
   <%= form_with(model: @recipe, local: true) do |f| %>
     <% if recipe.errors.any? %>
       <div id="error_explanation", class="error-pr">
          <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

          <ul>
          <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
       </ul>
        </div>
      <% end %>

      <div class='first_wrapper'>
        <div class='separate_wrapper'>
          <div class='title_image_wrapper'>
            <div class='title_wrapper'>
              <%= f.text_area :title, class: "cook-title", placeholder: "料理名を入力してください", size: "10x4" %>
            </div>
            <div class='image_wrapper'>
                <span class="image-expranation">※カメラをクリックして料理の画像を載せてください※</span>
                   <%= f.label :image, for:"message_image", class:"fa fa-camera fa-3x" do %>
                   <%= f.file_field :image, id:"message_image", style: "display: none;" %>
                  <div id="image-list"></div>
                  <% end %>
            </div>
          </div>
        </div>
      </div>
        <div class='middle_wrapper'>
         <div class='material_wrapper'>




            <div id="links">
              <%= link_to_add_association 'クリックして材料を入力しましょう',f, :materials,
              class: 'add_fields',
              id: 'Links',
              data: {
              association_insertion_node: '#detail-association-insertion-point',
              association_insertion_method: 'before'
              } %>
            </div>


            <div id="materials", class="materials_list">
              <%= f.fields_for :materials do |material| %>
              <%= render 'material_fields',f: material %>
              <% end %>
            </div> 


             <div class='nazo2'>
               <div id="detail-association-insertion-point" class='nazo2'></div>
             </div> 




            <%# <div id="materials", class="materials_list">
              <%= f.fields_for :materials do |material| %>
              <%# <%= render 'material_fields',f: material %> 
              <%# <% end %> 
            <%# </div>     %> 





            <%# <div id="links">
                <%= link_to_add_association 'クリックして材料を入力しましょう',f, :materials,
                class: 'add_fields',
                id: 'Links',
                data: {
                association_insertion_node: '#detail-association-insertion-point',
                association_insertion_method: 'before'
                } %>
             <%# </div>
             <div>
               <div id="detail-association-insertion-point"></div>
             </div>  %>
          </div>






        </div> 
         
      

     
      <div class='bottom_wrapper'>
          <div class="actions">
            <%= f.submit %>
          </div>  
      </div>
      <% end %> 
  </div> 
</div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 