<div class="nested-fields">
   <div class="card">
      <div class="card-body">
         <div class="row materials-list">
            <div class="col material_name">
               <%= f.text_field :material_name, placeholder: "材料を入力してください" %>
            </div>
            <div class="col quantity_name">
               <%= f.text_field :quantity_name, placeholder: "分量を入力してください" %>
            </div>
            <div class="col remove">
               <%= link_to_remove_association "❌", f, class:"batu"%>
            </div>
         </div>
      </div>
   </div>
   <div id="cooks", class="cook-list">
      <%= f.fields_for :cooks do |cook| %>
         <%= render 'cook_fields',f: cook %>
      <% end %>
   </div>
   <div id="link">
   <%= link_to_add_association '調理方法を入力',f, :cooks,
      class: 'add_fields',
      id: 'Link',
      data: {
      association_insertion_node: '#detail-association-insertion-point2',
      association_insertion_method: 'after'
      } %>
   </div>
</div>