 
<main class="main"> 
   <%= render "shared/top_header" %> 
          <div class="title__wrapper">
            <div class="flex__title">
                <div class="title_recipe">
                  <h1><%= @recipe.title %><h1>
                </div>
                <div class="title__image">
                  <%= image_tag @recipe.image.url %>
                </div>
              </div>
          </div>
          <div>
            <h2>必要な材料</h2>
          </div>
      <% @materials.each do |material| %>
     <div class="material__list">
       <table>
         <tr>
           <td><label><%= check_box_tag material.material_name %></label></td>
         </tr>
         <tr>  
           <td><%= material.material_name %></td>
         </tr> 
         <tr>  
           <td><%= material.quantity_name %></td>
         </tr>
       </table>
     </div>
      <% material.cooks.each do |cook| %>
        <div class="cook__main">     
          <div class="cook__wrapper">                  
            <div class="cooking__image">    
              <%= image_tag "#{cook.cooking_image.url}"%>         
              <div class="cook_text">   
              <%= cook.content %>
            </div>                    
          </div>     
        </div>        
      <% end %> 
    <% end %>    
</main>        
           

 

    

       
    




 