  <div class= "main__wrapper">  
    <div class="first__wrapper"> 
      <div>
        <%= @recipe.title %>
      </div>
      <div>
        <%= image_tag @recipe.image.url %>
      </div>
    </div>
    <div class="middle__wrapper"> 
      <% @materials.each do |material| %>
   
      <div class="material_area">
        <div class ="flex__material">
          <fieldset class="material__name">
            <%= material.material_name %>
            <%= material.quantity_name %>
            <%= check_box_tag material.material_name %>
          </fieldset>
        </div>
      </div>
      
    
         
      <% material.cooks.each do |cook| %>
      <div class="cooks__contents"> 
        <fieldset>
          <%= image_tag "#{cook.cooking_image.url}"%>      
          <%= cook.content %>
        <fieldset>                   
      </div>   
      <% end %>   
    <% end %>  
   </div>      
    
 

    
<div>
       
    <%= link_to 'Edit', edit_recipe_path(@recipe) %> 
    <%= link_to 'Back', recipes_path %>

