<div class="container-fluid reg_main">
  <%= form_with model: @user, url: new_user_session_path, method: :post, class: 'registration-main', local: true do |f| %>
  
  

    <div class='form-wrap'>
      <div class='form-header'>
        <h1 class='form-header-text'>
          ユーザー情報入力
        </h1>
    </div>
    

    


    <div class="container reg-wrapper">
     <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
      <div class="mb-3">
        <label for="email" class="form-label">メールアドレス</label>
          <span class="indispensable">必須</span>
        <%= f.email_field :email, class:"form-control", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">パスワード</label>
          <span class="indispensable">必須</span>
          <%= f.password_field :password, class:"form-control", id:"password", placeholder:"6文字以上の半角英数字" %>
      </div>
        <div class="register-btn">
          <%= f.submit "ログインする", class:"btn btn-outline-dark reg-btn" %>
        </div>
      </div>
      <% end %>
    </div>
</div>


<%#= render "devise/shared/links" %>
